html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #ffffff;
    margin: 0;
    overflow: hidden;
    font-family: arial;
}

#blocker {

    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
transition-duration: 1s;
}

#menu {
    width: 100%;
    height: 100%;
    background: url('Images/pauseBackground.png');
    text-align: center;
    position: fixed;
    transition-duration: 1s;
}

#menuTable{
    width: 100%;
    height: 70%;
}

#menuTable td{
    width: calc(100% / 3);
    padding: 5px;
}

.menuButton{
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .7)
}

.window {
    width: 100%;
    height: 100%;
    background: url(Images/background.png);
    text-align: center;
    position: fixed;
    top: 0px;
    transition-duration: 1s;
}

#died {
    background: rgba(255, 0, 0, .4);
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    text-align: center;
    color: white;
    display: none;
}

button {
    margin: 5px;
    padding: 10px;
    color: white;
    font-size: 30px;
    background: #ed2828;
    border: none;
    border-radius: 2px;
}

h1 {
    font-size: 80px;
}

#timerDisplay {
    margin: auto;
    font-size: 28px;
    color: black;
    float: left;
    border-bottom: solid white 5px;
    position: fixed;
    height: 100px;
    background: grey;
    padding: 15px;
    border-bottom-color: black;
    border-bottom-right-radius: 15px;
}

#speedDisplay {
    float: right;
    font-size: 28px;
    padding: 2px;
}

#lapsDisplay {
    font-size: 28px;
    padding: 2px;

}

#loading {
    z-index: 100;
    background: rgba(255, 255, 255, 1);
    height: 80%;
    width: 100%;
    position: fixed;
    text-align: center;
    display: block;
}

#notifyContainer{
    position: fixed;
    top: 150px;
    height: 150px;
    width: 45%;
    background: white;
    padding: 15px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    transition-duration: 1s;
    left: calc(-45% - 30px);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px red;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 26px;
  width: 26px;
  border-radius: 36px;
  background: #ffffff;
  cursor: pointer;
  margin: 3px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 75%;
  height: 34px;
  cursor: pointer;
  background: red;
  border-radius: 34px;
  border: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: red;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

#startScreen{
	background: #ffffff00;
}
#startInner {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 150px;
	background: #ffffff;
	display: inline-block;
}

.startElement{
	display: inline-block;
}
#locDisp {
	position: absolute;
	top: 0px;
	left: 50%;
	font-size: 24pt;
}

#sHeader {
	display: inline-block;
	font-size: 100pt;
	margin: 5px;
	position: absolute;
	left: 15px;
}



#modeDesc {
	position: absolute;
	bottom: 15px;
	left: 50%;
}

#startB {
		position: absolute;
	bottom: 15px;
	right: 15%;
}

#quitB {
	position: absolute;
	bottom: 15px;
	right: calc(15% - 200px);
}
