#logo {
	position: absolute;
	top: 0px;
	margin: auto;
	width: 50%;
	left: 25%;
}

.center {
	text-align: center;
	width: 100%;
	position:absolute;
}

button {
	margin: 5px;
	padding: 10px;
	color: white;
	font-size: 40px;
	background: #0095DD;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .7);
    transition-duration: .5s;
}

button:hover{
    transform: scale(0.9);
    box-shadow: 5px 5px 2px rgba(0, 0, 0, .7);
}
#playContent, #locSelect, #trackSelect {
    margin-top: 50%
}

#background {
	position: fixed;
	width: 100%;
}
 
h2 {
		font-size: 50px;
	font-family: arial;
}